@font-face {
    font-family: "After Headline";
    src: url("/fonts/After Headline Regular.otf") format("opentype");
}

@font-face {
    font-family: "After Headline Bold";
    src: url("/fonts/After Headline Bold.otf") format("opentype");
}

@font-face {
    font-family: "After Headline Light Italic";
    src: url("/fonts/After Headline Light Italic.otf") format("opentype");
}

@font-face {
    font-family: "After Headline Light Regular";
    src: url("/fonts/After Headline Light Regular.otf") format("opentype");
}
